@media(max-width:1090px) {
    .main {
        flex-direction: column;
    }

    .text-area-logo {
        width: 100%;
    }
    .encripter-storage {
        width: 80%;
        margin: 9% 10%;
    }
    .textEncripted {
        display: -webkit-box;
        overflow-y: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
        margin-bottom: 20px;
    }
    .notFoundEncrypt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 40px);
        height: 100%;
        text-align: center;
        padding: 20px;
        margin: 20px;
    }
    .notFoundEncrypt img{
        display: none;
    }
    .buttons-encrypt button, button#copy-button{
        font-size: 14px;
    }
    .logo img{
        width: 27px;
    }
}