
/* Inicializando variables de color */
:root{
    --main-bg-color: #f5f5f5;
    --secundary-bg-color: #ffffff;
    --terciarty-color: #0A3871;
    --color-enfasys: #D8DFE8;
    --text-secondary-color: #495057;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--main-bg-color);
}
.main{
    width: 90%;
    display: flex;
    margin: 2% 5%;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
}
/* Ajustando y asignando espacios de manera responsiva a las secciones*/
.text-area-logo{
    width: calc(75% - 20px);
    height: 100%;
    margin-right: 20px;
}
.encripter-storage{
    width: 25%;
    height: 100%;
}
/* Estilos para el area de texto */
.text-area{
    width: 100%;
}
.text-area textarea{
   resize: none;
   border: none;
   margin: 4% 10%;
   width: 80%;
   height: 100%;
   background: none;
   outline: none;
   font-size: 23px;
   font-family: poppins;
   color: var(--terciarty-color);
}

.text-area textarea::placeholder{
    font-size: 23px;
    font-family: poppins;
    color: var(--terciarty-color);
}


.buttons-encrypt{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button.class-encrypt-button, button.class-decrypt-button{
    margin: 0 20px;
    border: none;
    outline: none;
    padding: 20px 40px;
    font-size: 19px;
    border-radius: 15px;
    cursor: pointer;
}
.controller{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-warning{
    font-size: 13px;
    color: var(--text-secondary-color);
    display: flex;
    margin-left: 30px;
    margin-bottom: 10px;
}
.text-warning img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
button.class-encrypt-button{
    background: var(--terciarty-color);
    color: var(--secundary-bg-color);
}
button.class-decrypt-button{
    background: none;
    color: var(--terciarty-color);
    border: 2px solid var(--terciarty-color);
}
.encripterBox{
    background: var(--secundary-bg-color);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px -1px 27px -12px rgba(0,0,0,0.56);
    -webkit-box-shadow: 1px -1px 27px -12px rgba(0,0,0,0.56);
    -moz-box-shadow: 1px -1px 27px -12px rgba(0,0,0,0.56);
}
.notFoundEncrypt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}
.notFoundEncrypt img{
    width: 80%;
    margin:2% 10%;
}
.notFoundEncrypt h2{
    color: #343A40;
}
.notFoundEncrypt p{
    color: #495057;
    font-size: 14px;
}
.textEncripted{
    display: -webkit-box;
    overflow-y: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.textFound{
    width: calc(100% -60px);
    min-height: 100%;
    height: 100%;
    padding: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    
}